.mainContainer {
    display: flex;
    background-color: #E5E5E5;
    flex-direction: column;
}

.userContainer {
    height: 90vh;
    display: flex;
    flex-direction: row;
    position: relative;
}

.empty-screen-container {
    height: 90vh;
}

@media (max-width: 800px) {
    .userContainer {
        flex-direction: column;
        height: 90vh;
    }
}


